karerun/karerun/__pycache__/
karerun/RegLogCreate/__pycache__/
karerun/karerun/__pycache__/urls.cpython-312.pyc
karerun/RegLogCreate/__pycache__/admin.cpython-312.pyc
karerun/RegLogCreate/__pycache__/models.cpython-312.pyc
