    {% load static %}
    {% load custom_filters %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ event.eventname }}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/event_details.css' %}">
        <link rel="stylesheet" href="{% static 'css/event_reg.css' %}">
    </head>
    <body style="background-color: aliceblue;">
        
        <header style="background-color: #002B5A;">
            <img src="{% static 'photos/logo.png' %}" style="max-width: 150px; width: 100%; padding-left: 100px;">
            {%include 'header.html' %}
        </header>

        <div class="page_banner_bg_reg" style="background-image: url('{{ event.bannerimage.url }}');">
            <div class="event_box"> 
                <div class="event_details">
                    <h5>{{ event.eventdate|date:"F" }}</h5>
                    <h4>{{ event.eventdate|date:"d" }}</h4>
                    <h5>{{ event.eventdate|date:"Y" }}</h5>
                    <h1 class="first_word_reg">{{ first_word }}</h1>
                    <h1 class="rest_of_text">{{ rest_of_text }}</h1>
                </div>
            </div>
        </div>
        <div class="event_banner_reg" style="background-image: url('{{ event.bannerimage.url }}');">
        </div>

        <div class="reg_title">REGISTRATION</div>
        <div class="reg_category">Categories</div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="categories-container">
            <div class="categories-row">
                {% for category in categories %}
                    <label class="category-box"  onclick="selectCategory(this)"
                        style="background-color: 
                            {% if forloop.counter0 == 0 %} #F4A730
                            {% elif forloop.counter0 == 1 %} #F4782F
                            {% elif forloop.counter0 == 2 %} #ED5D74 
                            {% elif forloop.counter0 == 3 %} #1AA5DD 
                            {% endif %}" 
                    >
                        
                        <input type="radio" name="category_ni" style="display: none;" value="{{ category }}">
                        <div style="display: block; padding: 0%; margin: 0%; width: 100%; height: 100%; position: relative;"> 
                            <div class="category-distance">
                                <div class="category-km">{{ category }}</div>
                            </div>                        
                            <hr style="color: black;">
                            <div class="inclusions-header">INCLUSIONS:</div>
                            <ul class="inclusions-list">
                                {% with category_items=unique_inclusions|get_item:category %}
                                    {% for item in category_items %}
                                        <li style="padding-top: 5px;">
                                            {{ item }}
                                        </li>
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                            <div class="category-price">
                                {% with price=category_prices|get_item:category %}
                                        Php {{ price|floatformat:"0" }}
                                        <input type="hidden" name="category_price" style="display: none;" value="{{ price }}">
                                {% endwith %}
                            </div>
                        </div>
                        <div class="checkmark-icon hidden"></div>
                    </label>
                {% endfor %}
            </div>
        </div>
        
        <div class="reg_category">Personal Details</div>
        
        <div class="form-container">
           
                <div class="form-grid">
                    <div>
                        <label class="form-label">First Name</label>
                        <input type="text" name="first_name" class="form-input-okay" placeholder="First Name" value="{{ user.firstname }} " readonly>
                        {% if form.first_name.errors %}
                        <div class="error">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <label class="form-label">Last Name</label>
                        <input type="text" name="last_name" class="form-input-okay" placeholder="Last Name"value="{{ user.lastname }} " readonly>
                        {% if form.last_name.errors %}
                        <div class="error">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="age-gender-container">
                    <div class="form-section">
                        <label class="form-label">Age</label>
        <div class="age-group" id="age-group" data-age-category="{{ age_category }}">
            <label class="age-button">
                <input type="radio" name="age_category" value="20 and below" 
                {% if age_category == "20 and below" %} checked {% else %} disabled {% endif %}>
                20 and below
            </label>
            <label class="age-button">
                <input type="radio" name="age_category" value="21 to 30" {% if age_category == "21 to 30" %} checked {% else %} disabled {% endif %}>
                21 to 30
            </label>
            <label class="age-button">
                <input type="radio" name="age_category" value="31 to 40" {% if age_category == "31 to 40" %} checked {% else %} disabled {% endif %}>
                31 to 40
            </label>
            <label class="age-button">
                <input type="radio" name="age_category" value="41 to 50" {% if age_category == "41 to 50" %} checked {% else %} disabled {% endif %}>
                41 to 50
            </label>
            <label class="age-button">
                <input type="radio" name="age_category" value="51 and above" {% if age_category == "51 and above" %} checked {% else %} disabled {% endif %}>
                51 and above
            </label>
                        </div>
                    </div>
               
                

                <div class="form-section">
                    <label class="form-label">Gender</label>
                    <div class="gender-group">
                        <label class="gender-option">
                            <input type="radio" name="gender" value="M" data-gender="M"
                            {% if user.sex == "M" %} checked {% else %} disabled {% endif %}>
                            Male
                        </label>
                        <label class="gender-option">
                            <input type="radio" name="gender" value="F"  data-gender="F"
                            {% if user.sex == "F" %} checked {% else %} disabled {% endif %}>
                            Female
                        </label>
                    </div>
                </div>
            </div>

                <div class="contact-info">
                    <div>
                        <label class="form-label">Contact Number</label>
                        <input type="tel" name="contact_number" class="form-input" placeholder="Contact Number">
                    </div>
                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-input" placeholder="Email">
                    </div>
                    <div>
                        <label class="form-label">Emergency Number</label>
                        <input type="tel" name="emergency_number" class="form-input" placeholder="Emergency Number">
                    </div>
                </div>
        
        </div>

        <div class="reg_category">Inclusions</div>

        <div class="size-selector-container">
            <div class="categories-row" id="inclusion-container">
                {% for category in categories %}
                    <div class="category-inclusions" data-category="{{ category }}" style="display: none;">
                        <h1>{{ category }}</h1>
                        
                        {% with singlet_sizes=category_inclusions|get_item:category|filter_sizes:"Singlet" %}
                        {% if singlet_sizes %}
                            <div class="inclusion-item">
                                <h2>Singlet</h2>
                                <div class="size-buttons">
                                    {% for size in singlet_sizes %}
                                        <button class="size-btn" data-inclusion="Singlet" data-size="{{ size }}" type="button">
                                            {{ size }}
                                        </button>
                                    {% endfor %}
                                </div>
                                <input type="hidden" name="singlet_size" id="singlet_size_{{ category }}" value="">
                            </div>
                        {% endif %}
                        {% endwith %}
        
                        {% with shirt_sizes=category_inclusions|get_item:category|filter_sizes:"Finisher Shirt" %}
                        {% if shirt_sizes %}
                            <div class="inclusion-item">
                                <h2>Finisher Shirt</h2>
                                <div class="size-buttons2">
                                    {% for size in shirt_sizes %}
                                        <button class="size-btn2" data-inclusion="Finisher Shirt" data-size="{{ size }}" type="button">
                                            {{ size }}
                                        </button>
                                    {% endfor %}
                                </div>
                                <input type="hidden" name="finisher_shirt_size" id="finisher_shirt_size_{{ category }}" value="">
                            </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="button-container">
            <button class="submit-button" type="submit">CONTINUE</button>
        </div>

    </form>

        <script>
           
        document.addEventListener('DOMContentLoaded', function() {
        const ageCategory = document.getElementById('age-group').getAttribute('data-age-category');
        
        function resetClasses() {
            const labels = document.querySelectorAll('.age-button');
            labels.forEach(label => {
                label.classList.remove('highlight');
            });
        }

        function highlightButton() {
            resetClasses();
            const selectedLabel = document.querySelector(`input[value="${ageCategory}"]`).closest('label');
            selectedLabel.classList.add('highlight');
        }

        highlightButton();
    });
        

        document.addEventListener('DOMContentLoaded', function() {
        const userGender = "{{ user.sex }}";

        const genderInput = document.querySelector(`input[name="gender"][data-gender="${userGender}"]`);
        if (genderInput) {
            genderInput.checked = true;

            const genderOption = genderInput.closest('.gender-option');
            if (genderOption) {
                genderOption.classList.add('active');
            }
        }
        });

            document.querySelectorAll('.category-box').forEach(option => {
                option.addEventListener('click', function() {
                    document.querySelectorAll('.category-box').forEach(opt => opt.classList.remove('active'));
                    this.classList.add('active');
                });
            });


            document.querySelectorAll('.size-btn').forEach(button => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.size-btn').forEach(btn => {
                    btn.classList.remove('active');
                });
                button.classList.add('active');
            });

            
        });

        

        function selectCategory(button) { 
    
        const selectedCategory = button.querySelector('.category-km').textContent.trim();
        const radioInput = document.querySelector(`input[name="category_ni"][value="${selectedCategory}"]`);
        if (radioInput) {
        radioInput.checked = true;}


        console.log(selectedCategory);
        
        document.querySelectorAll('.category-inclusions').forEach(div => {
            div.style.display = 'none';
        });

        
        // para show only the selected category's inclusions
        const selectedInclusions = document.querySelector(`.category-inclusions[data-category="${selectedCategory}"]`);
        if (selectedInclusions) {
            selectedInclusions.style.display = 'block';
        }

        // Clear previous selections
        const buttons = document.querySelectorAll('.category-box');
        buttons.forEach(btn => btn.style.border = 'none');
        button.style.border = '2px solid #000';
        
    }

    document.querySelectorAll('.size-btn').forEach(button => {
    button.addEventListener('click', function() {
        const inclusionItem = this.closest('.inclusion-item');
        const inclusionType = this.getAttribute('data-inclusion');
        const category = inclusionItem.closest('.category-inclusions').getAttribute('data-category');

        inclusionItem.querySelectorAll('.size-btn').forEach(btn => {
            btn.classList.remove('active');
        });

        this.classList.add('active');
        if (inclusionType === 'Singlet') {
            document.getElementById(`singlet_size_${category}`).value =  this.getAttribute('data-size');
        }
    });
});

        

document.querySelectorAll('.size-btn2').forEach(button => {
    button.addEventListener('click', function() {
        const inclusionItem = this.closest('.inclusion-item');
        const inclusionType = this.getAttribute('data-inclusion');
        const category = inclusionItem.closest('.category-inclusions').getAttribute('data-category');

        inclusionItem.querySelectorAll('.size-btn2').forEach(btn => {
            btn.classList.remove('active');
        });

        this.classList.add('active');
        const selectedSize = this.getAttribute('data-size');
        if (inclusionType === 'Finisher Shirt') {
            document.getElementById(`finisher_shirt_size_${category}`).value = selectedSize;
        }
    });
});

   
    </script>

    
        </script>
    </body>
    </html>
