<div class="header-navs">
  <nav>
    {% if userName %}
    <a href="{% url 'homepage' %}">Home</a>
    {% else %}
    <a href="{% url 'index' %}">Home</a>
    {% endif %}
    <a href="{% url 'race_list' %}">Events</a>
    {% if userName %}
    <a href="{% url 'userprofile:view_profile' userName %}">Profile</a>
    {% else %}
    <a href="{% url 'login' %}">Profile</a>
    {% endif %}
    <!-- <a href=""></a> -->
    {%if userName is None%}
    <button
      class="nav-buttons"
      onclick="window.location.href='{% url 'login' %}';"
      style="background-color: white; color: black"
    >
      Log In
    </button>
    <button
      class="nav-buttons"
      onclick="window.location.href='{% url 'register' %}';"
      style="background-color: #ff5726"
    >
      Sign Up
    </button>
    {%else%}

    <button
      class="nav-buttons"
      onclick="window.location.href='{% url 'logout' %}';"
      style="background-color: #ff5726"
    >
      Sign Out
    </button>
    {%endif%}
  </nav>
</div>
