{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Race List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body style="background-color: aliceblue">
    <header style="background-color: #002b5a">
      <img
        src="{% static 'photos/logo.png' %}"
        style="max-width: 150px; width: 100%; padding-left: 100px"
      />
      {%include 'header.html' %}
    </header>
    <div id="formContainer">
      <form method="POST">
        {% csrf_token %}
        <p>First Name</p>
        {{forms.firstname}}
        <p>Last Name</p>
        {{forms.lastname}}
        <div class="form-group">
          <p>Sex</p>
          <div class="radio-group">
              <label class="radio-label">
                  <input type="radio" name="sex" value="M">
                  Male
              </label>
              <label class="radio-label">
                  <input type="radio" name="sex" value="F">
                  Female
              </label>
          </div>
      </div>
        <p>Birth Date</p>
        {{forms.birthdate}}
        <p>Username</p>
        {{forms.username}}
        <p>Email</p>
        {{forms.email}}
        <p>Password</p>
        {{forms.password}}
        <br />
        <button type="submit">Register</button>
      </form>
      <u
        ><a href="{% url 'login' %}" style="color: white">
          Already have an account? Log in</a
        >
      </u>
    </div>
  </body>
</html>
